.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: rgb(141, 141, 198);
}

.grid div {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 166);
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}